.conteudo{
	-fx-background-color: black;
	-fx-font-family: Oswald;
}


.titulo{
	-fx-text-fill: #800080;
	-fx-font-size: 25px;
}

.numero{
	-fx-text-fill: #eee;
	-fx-font-size: 22px;
	
}

.botoes{
	-fx-background-color: #ffffff;
	-fx-text-fill: #8000ff;
	-fx-font-size: 20px;
	-fx-min-width: 30px;
	-fx-min-height: 30px;
	-fx-background-radius: 30px;
}

.verde{
	-fx-text-fill: #00ff40;
}

.vermelho{
	-fx-text-fill: #ff0000;
}