.login {
	-fx-background-color: linear-gradient(to right, rgb(84, 51, 255), rgb(32, 189, 255), rgb(165, 254, 203));
}

.login-titulo{
	-fx-font-size: 24px;
	-fx-text-fill: #fff;
}

.login-form-label{
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}
.login-form-botao{
	-fx-font-size: 16px;

}