.conteudo{
	-fx-background-color: black;
	-fx-font-family: Oswald;
	
}

.titulo{
	-fx-text-fill: #0080ff;
	-fx-font-size: 36px;
	
}

.numero{
	-fx-text-fill: #eee;
	-fx-font-size: 28px;
	
}

.botoes{
	-fx-background-color: #ffffff;
	-fx-text-fill: #00ffff;
	-fx-font-size: 28px;
	-fx-min-width: 60px;
	-fx-min-height: 60px;
	-fx-background-radius: 30px;
}

.verde{
	-fx-text-fill: #00ff00;
}
.vermelho{
	-fx-text-fill: #ff0000;
}